<!--.col-	.col-sm-	.col-md-	.col-lg-	.col-xl- -->


<div class="container">
{{#if outfits}}
	<div class="card card-body">
		<h3 class="text-primary">AR Outfit Try-Ons</h3>
		{{#each outfits}}
			<div class="card border-primary mb-2 w-100 mx-auto">
				<div class="card-body">
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-2">
							<a href="{{outfitURL}}" data-toggle="lightbox">
								<img src="{{outfitURL}}" alt="Poster unavailable" class="img-thumbnail img-fluid">
							</a>
						</div>
					</div>

				</div>

					<div class="accordion" id="storyAccordion{{id}}">
					<div class="card-header" id="headingOne{{id}}">
						<button class="btn btn-link" type="button" data-toggle="collapse"
								data-target="#collapseOne{{id}}"
								aria-expanded="false" aria-controls="collapseOne{{id}}"
						>
							Voting</i>
						</button>

					</div>

					<div id="collapseOne{{id}}" class="collapse" aria-labelledby="headingOne{{id}}"
						 data-parent="#storyAccordion{{id}}"
					>
						<div>
							<div class="poll">
								<div class="question h2"></div>
								<div class="answers"></div>
							</div>

						</div>
					</div>
				</div>
			</div>
		{{/each}}
	</div>

</div>
{{else}}
	<h3>No outfits shared</h3>
{{/if}}


