<!--.col-	.col-sm-	.col-md-	.col-lg-	.col-xl- -->


<div class="container">
{{#if outfits}}
	<div class="card card-body">
		<h3 class="text-primary">AR Outfit Try-Ons</h3>
		{{#each outfits}}
			<p style="margin: 20px 0px 0px;">Sharing Link:</p>
			<div class="copy-link">
				<input type="text" class="copy-link-input" value="http://localhost:5000/outfit/listOutfits/{{userId}}" readonly>
				<button type="button" class="copy-link-button">
					<span class="material-icons">content_copy</span>
				</button>
			</div>

			<div class="card border-primary mb-2 w-100 mx-auto">
				<div class="card-body">
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-2">
							<a href="{{outfitURL}}" data-toggle="lightbox">
								<img src="{{outfitURL}}" alt="Poster unavailable" class="img-thumbnail img-fluid">
							</a>
						</div>
						
						<div class="col-sm-12 col-md-6 col-lg-2">
							<p class="font-italic"></p>
							<a href="/outfit/delete/{{id}}" class="card-link" data-toggle="confirmation"
							data-title="Confirm delete?">
								<i class="far fa-trash-alt"></i>
								Delete
							</a>
						</div>
					</div>

				</div>

				<div class="accordion" id="storyAccordion{{id}}">
					<div class="card-header" id="headingOne{{id}}">
						<button class="btn btn-link" type="button" data-toggle="collapse"
								data-target="#collapseOne{{id}}"
								aria-expanded="false" aria-controls="collapseOne{{id}}"
						>
							Voting</i>
						</button>

					</div>

					<div id="collapseOne{{id}}" class="collapse" aria-labelledby="headingOne{{id}}"
						 data-parent="#storyAccordion{{id}}"
					>
						<div>
							<div class="poll">
								<div class="question h2"></div>
								<div class="answers"></div>
							</div>

						</div>
					</div>
				</div>
			</div>
		{{/each}}
	</div>

</div>
{{else}}
	<h3>No outfits shared</h3>
{{/if}}


<script>
	document.querySelectorAll(".copy-link").forEach((copyLinkParent) => {
	const inputField = copyLinkParent.querySelector(".copy-link-input");
	const copyButton = copyLinkParent.querySelector(".copy-link-button");
	const text = inputField.value;

  	inputField.addEventListener("focus", () => inputField.select());

	copyButton.addEventListener("click", () => {
		inputField.select();
		navigator.clipboard.writeText(text);

		inputField.value = "Copied!";
		setTimeout(() => (inputField.value = text), 2000);
	});
});
</script>